<div class="janela" *ngFor="let cartao of cartoes">
  <header>
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="" />
    </div>
    <div>
      <h6>LIGA REGIONAL DESPORTIVA INDAIATUBANA</h6>
      <small>Cartão de Identificação do atleta</small>
    </div>
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="" />
    </div>
  </header>
  <main>
    <div *ngIf="cartoes" class="foto">
      <img
        src="{{ cartao?.foto }}"
        alt=""
      />
    </div>
    <div class="dados">
      <p class="nome">
        <strong>Nome:<span> {{ cartao?.nome }}</span></strong>
      </p>
      <p class="clube">
        <strong>Clube:</strong> <span> {{ cartao?.clube }}</span>
      </p>
      <p><strong>Reg:</strong> <span> {{ cartao?.id }}</span></p>
      <div>
        <p><strong>RG:</strong> <span> {{ cartao?.rg }}</span></p>
        <p><strong>CPF:</strong> <span> {{ cartao?.cpf || '' }}</span></p>
      </div>
      <p><strong>Mãe:</strong> <span> {{ cartao?.mae }}</span></p>
      <p><strong>Pai:</strong> <span> {{ cartao?.pai }}</span></p>
      <div>
        <p><strong>Nasc.:</strong> <span> {{ cartao?.data_nasc | date: "dd/MM/yyyy" }}</span></p>
        <p><strong>Val:</strong>
          <span>
           {{ cartao?.validade | date: "MM/yyyy" }}
          </span></p>
      </div>
    </div>
  </main>
</div>
