<!-- <div class="navInicio">
  <ul>
    <li>
      <a class="inicioBold"
        >INÍCIO <i class="fas fa-arrow-circle-down icon"></i
      ></a>
      <ul>
        <li>
          <a class="linkInicio" [routerLink]="['/admin/equipes']"
            >EQUIPES <i class="fas iconDrop fa-plus-circle"></i
          ></a>
        </li>
        <li>
          <a class="linkInicio" [routerLink]="['/admin/atletas']"
            >ATLETAS <i class="fas iconDrop fa-plus-circle"></i
          ></a>
        </li>
        <li>
          <a class="linkInicio" [routerLink]="['/admin/cartao']"
            >CARTEIRINHAS <i class="fas iconDrop fa-plus-circle"></i
          ></a>
        </li>
      </ul>
    </li>
  </ul>
</div> -->

<h1>
  Seja bem vindo/a a AIFA, <strong style="margin-left: 5px;"> Gustavo!</strong>
</h1>
