.navInicio ul ul {
  display: none;
}

.navInicio ul li:hover > ul {
  display: block;
  margin-left: -8px;
}

.navInicio {
  margin: 40px auto;
  text-align: center;
}

.navInicio ul {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.74);
  padding: 0 20px;
  background-color: var(--corPrincipal);
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
}

.navInicio ul:after {
  content: "";
  clear: both;
  display: block;
}

.navInicio ul li:hover a {
  color: #fff;
}

.navInicio ul li a {
  display: block;
  padding: 15px 20px !important;
  color: #fff;
  /* font-weight: bold; */
  text-decoration: none;
}

.inicioBold {
  font-weight: bold;
}

.navInicio ul ul {
  background: #5f6975;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.navInicio ul ul li {
  float: none;
  position: relative;
}

.navInicio ul ul li a {
  padding: 15px 37px;
  color: #fff;
}

.navInicio ul ul li a:hover {
  background: #4b545f;
  border-radius: 5px;
}

.navInicio ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.icon {
  margin-left: 30px;
  font-size: 22px;
}

.iconDrop {
  margin-left: 3px;
  font-size: 18px;
}
